body {
    background-image: #edebed url("../docs/IMG/background.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-family: "Lato", serif;
  }

  .centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.center-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 40px;
    padding-top: 90px;
    padding-bottom: 30px;
    height: 400px;
    width: 600px;
}
.center-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: 5px solid ; 
    padding: 40px; 
    width: 680px;
    font-size: 25px;
    right: 30px;
    background-color: #111;
    
}
.logo-container {
      display: flex;
      justify-content: center;
}

.logo {
border-radius: 50%;
height: 250px;
width: 250px;
}
        
        .sidenav {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
        }
        
        .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          font-weight: bold;
          color: #818181;
          display: block;
          transition: 0.3s;
        }
        
        .sidenav a:hover {
          color: #f1f1f1;
        }
        

        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }
        
 @media only screen and (max-width: 768px) {
   .logo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 10%;
        }

        .center-right{
          flex-direction: column-reverse;
          font-size: 130%;
          top: 40%;
          left: 1%;
          font-size: 100%;
       }

        .center-left{
          width: 100%;
          height: auto;
          margin-left: -10%;
          margin-top: 50%;
          }
    }
       
        footer {
          background-color: #333;
          color: #fff;
          text-align: center;
          padding: 20px;
          margin-top: 850px;
      }

      .social-icons a {
          color: #fff;
          text-decoration: none;
          margin: 0 10px;
      }