.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  background-color: orange;
  margin: 10px;
  padding: 10px;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: red;
  margin: 10px;
  padding: 10px;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  margin: 10px;
  padding: 10px;
}

.project-image,
.project-description {
  height: 400px;
  padding: 40px;
}

.project-description {
  color: white;
  border: 5px solid;
  font-size: 25px;
  background-color: #111;
}

footer {
  margin-top: 0%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 750px) {
  .project-content {
    flex-direction: column;
    align-items: center;
  }

  .project-details {
    align-items: center;
  }

  .project-image {
    max-width: 100%;
    height: auto;
  }

  .project-description {
    padding: 20px;
    width: 80%;
  }

  .project-description {
    font-size: 14px;
    text-align: center;
  }
}
