.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
  flex-direction: row-reverse;
}

.center-left,
.center-right {
  height: 400px;
  width: 600px;
  padding: 40px;
}

.center-left {
  padding-top: 90px;
  padding-bottom: 80px;
}

.center-right {
  color: white;
  border: 5px solid;
  width: 600px;
  font-size: 25px;
  background-color: #111;
}

footer{
  margin-top: 0%;
}

@media (max-width: 480px) {
  .logo {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      margin-top: 10%;
    }
  
  .content {
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 10%;
    gap: 10px;
  }

  .center-left
   {
    width: 80%;
    height: auto;
  }

    .center-right{
      width: 60%;
      height: 70%;
      font-size: 90%;
    }
}