.centered-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*use flex to fill the screen*/
}

h1 {
  color: white;
}

footer {
  margin-top: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 450px) {
  .centered-content > h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  .logo {
    width: 150px;
    height: 150px;
    font-size: 30px;
    margin-top: 15%;
  }
}
