.project-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-basis: 42em;
  background-color: green;
  margin: 10px;
  padding: 10px;
  height: 50vh;
}

.project-content {
  background-color: purple;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

h1 {
  color: white;
}

footer {
  margin-top: 15%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 450px) {
  .centered-content > h1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }
  .logo {
    width: 150px;
    height: 150px;
    font-size: 30px;
    margin-top: 15%;
  }
}
