.container {
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 150px;
  padding-left: 20px;
}

.left img {
  margin-bottom: 100px;
  padding-top: 120px;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 420px;
  color: white;
  margin-left: 390px;
  margin-top: -85%;
  font-size: 150%;
}

.middle a {
  margin-bottom: 500px;
  color: white;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 150px;
  color: white;
  font-size: 30px;
  margin-right: 20px;
  margin-top: -104%;
}

.right div {
  margin-bottom: 50px;
}

.box{
  border: 2px solid white;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  background-color: black;
}

.box1 {
  border: 2px solid white;
  padding: 10px;
  margin-bottom: 10px;
  width: 305px;
  background-color: black;
}

footer{
  margin-top: 15%;
}

@media only screen and (max-width: 480px) {
  body {
    background-size: cover;
  }

  .logo {
    height: 100px;
    width: 100px;
    margin-top: 10%;
  }

  .sidenav a {
    font-size: 25px;
  }

  .sidenav .closebtn {
    font-size: 30px;
  }

  .left,
  .middle,
  .right {
    align-items: center;
    padding-top: 20px;
  }

  .middle{
    margin-left: 15px;
    margin-top: -430px;
  }

  .left img,
  .middle a,
  .right div {
    height: auto;
    width: 100%;
    margin-top: -15%;
    margin-right: 5%;
  }

  .middle a {
    width: 80%;
  }

  .right{
    font-size: medium;
    width: 80%;
    margin-left: 9%;
  }

    .right div {
      margin-bottom: 80px;
      margin-left: 19px;
    }
}
