.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-card {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  background-color: orange;
}

.project-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 40em;
  background-color: green;
  margin: 10px;
  padding: 10px;
}

.project-title {
  background-color: purple;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: xx-large;
}

.project-title a {
  color: white;
  background-color: black;
}

.project-image {
  background-color: aqua;
  margin: 10px;
  padding: 10px;
  height: 40vh;
}

.project-image img {
  height: 40vh;
  width: 40em;
  object-fit: contain;
}

.project-details {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  background-color: blue;
  margin: 10px;
  padding: 10px;
}

.project-details p {
  background-color: black;
  font-size: 150%;
}

footer {
  margin-top: 15%;
}

@media (max-width: 480px) {
  .logo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 10%;
  }

  .container {
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }

  .project-card {
    flex-direction: column;
  }

  .project-overview {
    flex-basis: auto;
  }
}
